@use '../variables' as *;

.FOOTER {
	width: 100%;
	background-color: $grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $light;
	> * {
		padding: 1.5rem;
		@media only screen and (max-width: 768px) {
			padding: 1.25rem;
		}
	}
	.socials > a {
		padding: 1rem;
		@media only screen and (max-width: 768px) {
			padding: 1rem 1.25rem 1rem 0;
		}
	}
}
