@use '../variables' as *;

.slider-container {
	width: 90%;
	height: 25rem;
	.slide {
		text-align: center;
		display: flex !important;
		align-items: center;
		justify-content: center;
		img {
			width: 80%;
		}
	}
	.slick-list,
	.slick-slider,
	.slick-track {
		height: 25rem;
	}

	.slick-slide,
	.slick-track {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media only screen and (max-width: 768px) {
		.slick-list,
		.slick-slider,
		.slick-track {
			height: unset;
		}

		.slick-slide,
		.slick-track {
			display: block;
		}
		.slide {
			margin: 3.5rem 0;
		}
	}
}
