@use '../variables' as *;

.fest-access {
	background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
	background-color: $violet;

	.fest-title {
		font-family: $header-font;
		font-size: 4rem;
		color: $light;
		word-spacing: 1.025rem;
		text-align: center;
		margin-bottom: 3rem;
		margin-top: 2rem;
	}

	.pass-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		margin-bottom: 3rem;
		text-decoration: none;
	}

	.pass-card {
		border-radius: 10px;
		background: linear-gradient(
			135deg,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0)
		);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37);
		padding: 2rem;
		text-align: center;
		width: 15rem;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.025);
		}

		h2 {
			font-family: $header-font;
			font-size: 2rem;
			height: 5rem;
			color: $light;
		}

		.price {
			font-weight: bold;
			font-size: 1.5rem;
			margin: 1rem 0;
		}

		p {
			font-size: 1.2rem;
			color: $light;
			padding: 0.25rem 0;
			line-height: 1.5;
		}
	}

	@media (max-width: 768px) {
		.pass-container {
			flex-direction: column;
			align-items: center;
		}

		.pass-card {
			width: 70%;
			h2 {
				height: auto;
			}
		}

		.fest-title {
			font-size: 3rem;
		}
	}
}
