@use '../variables' as *;

.ERRORPAGE {
	img {
		top: 0;
		position: absolute;
		width: 100%;
		margin: 0;
		height: 100vh;
		object-fit: cover;
		object-position: bottom;
		z-index: -2;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -1;
	}

	.content {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $light;

		.button {
			background-color: $light;
			color: $grey;
			padding: 0.75rem 1.5rem;
			margin: 1rem;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 1rem;

			&:hover {
				background-color: $grey;
				color: $light;
				transition: 0.25s;
			}
		}
	}
}
