@use '../variables' as *;

.EVENTS {
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
}



.Searchnfilter{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:50px;
	gap:30px;
}
.filter{
	color:$light;
	display:flex;
	align-items:center;
	gap:30px;
	font-size:1.5rem;
}
.filterlist{
	border-radius:75px;
	display:flex;
	font-size:1.1rem;
	gap:15px;
	flex-wrap:wrap;
	justify-content:center;
}
.filterlist span{
	padding:10px;
	border-radius:75px;
	cursor:pointer;
}
.filterlist span:hover{
	background-color:$light;
	color:black;
	transition:0.35s;
}
.filterlist span.active {
	background-color: $light; 
	color: black;
	font-weight: 500; 
  }
.searchinput{
	height:50px;
	width:60vw;
	border-radius:75px;
	padding-left:20px;
	font-size: 1.2rem;
	font-weight: 550;
	color: $light;
	letter-spacing:2px;
	caret-color:$light;
	text-decoration: none;
	white-space: nowrap;
	transition: border-color 0.3s;
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	// border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37);
}
.searchinput:focus{
	border: 1px solid black;
	caret-color:$light;
}

option{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
	border:10px solid $darkbrown;
	border-radius:75px;
}
.head{
	font-family: $header-font;
	font-size: 6rem;
	padding: 4rem 0;
	word-spacing: 1.5rem;
	text-align: center;
	color:$light;
}
.bggreen{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkgreen;
	padding-bottom: 10px;

}
.bgbrown{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
	padding-bottom: 10px;
}
#knowmore{
	color:$light;
	text-align: center;
	font-size:1.2rem;
	letter-spacing:0.075rem;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:5px;
	margin:10px;
}
.eventsholder{
	display:flex;
	flex-wrap:wrap;
	gap:30px;
	justify-content:center;
	align-items:center;
	margin:30px;
}
.clubname{
	text-align: center;
	font-family: $header-font;
	font-size: 5.5rem;
	letter-spacing: 1rem;
	color: $light;
	padding:  0rem 3rem 1rem 3rem;
	padding-top:3rem;
}
#knowmoretext{
	display:inline-flex;
	align-items:center;
}
@media only screen and (max-width: 768px){
	#mainheadingev{
		font-size:5rem;
	}
	.head{
		font-size: 4rem;
		padding: 4rem 0 2rem 0;
	}
	.searchinput{
		width:50vw;
		font-size:1rem;
	}
	.filterlist{
		font-size: 0.5rem;
	}
	.clubname{
		font-size:4rem;
	}
	#knowmore{
		font-size:0.9rem;
	}
}
.ClubEventsHolder{
	min-height: 30vh;
}
@media only screen and (max-width:1000px){
	.filterlist{
		font-size:0.5rem;
	}
}
@media only screen and (max-width:510px){
	#knowmore{
		font-size:0.5rem;
	}
}