@use '../variables' as *;

.EVENTS {
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
}

.heading{
	width:100vw;
}

.Searchnfilter{
	display:flex;
	justify-content:center;
	margin:50px;
	gap:30px;
}
.searchinput{
	height:50px;
	width:60vw;
	border-radius:75px;
	padding-left:20px;
	font-size:1.5rem;
	letter-spacing:2px;
	caret-color:light;
	color:$light;
	transition: border-color 0.3s;
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	// border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37);
}
.searchinput:focus{
	border: 1px solid black;
	caret-color:$light;
}
.filter{
	color:$light;
	// background-color: red;
	border-radius:75px;
	font-size:1.1rem;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	letter-spacing:1px;
}
option{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
	border:10px solid $darkbrown;
	border-radius:75px;
}
.head{
	font-family: $header-font;
	font-size: 6rem;
	padding: 4rem 0;
	word-spacing: 1.5rem;
	text-align: center;
	color:$light;
}
.bggreen{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkgreen;
}
.bgbrown{
	background-image:url('https://www.transparenttextures.com/patterns/cartographer.png');
	background-color:$darkbrown;
}
@media only screen and (max-width: 768px){
	.head{
		font-size: 4rem;
		padding: 4rem 0 2rem 0;
	}
	#mainheadingev{
		font-size: 5rem;
		padding: 4rem 0 2rem 0;
	}
	.filter{
		font-size:0.8rem;
	}
	.searchinput{
		width:50vw;
		font-size:1rem;
	}
}