@use '../variables' as *;

.HOME {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: $light;

	.heroimage {
		top: 0;
		position: absolute;
		width: 100%;
		margin: 0;
		height: 100vh;
		object-fit: cover;
		object-position: bottom;
		z-index: -2;
		filter: brightness(2.5);
	}


	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -1;
	}

	.hero {
		height: calc(100vh - 2rem);
		padding-top: 2rem;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $light;
		text-align: center;

		h1 {
			font-family: $header-font;
			font-size: 8.5rem;
			letter-spacing: 1rem;
			padding: 4rem 0 1rem 0;
			text-shadow: 0 0 1rem #ffffffcc;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 1rem;
			padding: 1rem 0;
		}

		@media only screen and (max-width: 768px) {
			height: 100vh;
			padding-top: 0;
		}
	}

	h1 {
		font-family: $header-font;
		font-size: 6rem;
		padding: 4rem 0;
		word-spacing: 1.5rem;
		text-align: center;
	}

	.introduction {
		display: flex;
		width: 100%;
		padding: 2rem 0 6rem 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $grey;
		background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
		p {
			font-size: 1.5rem;
			text-align: center;
			padding: 0 10rem 3rem 10rem;
		}
	}

	.events {
		width: 100%;
		height: 100%;
		padding: 2rem 0 6rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $violet;
		background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
	}

	.gallery {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0 6rem 0;
		background-color: $grey;
		background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
	}

	.dates {
		margin-top: 6rem;
		padding: 0.5rem 1.5rem 0.25rem 1.5rem;
		display: flex;
		align-items: center;

		svg {
			margin: 0.5rem 2rem;
		}

		.date {
			font-size: 1.5rem;
		}

		&.glass {
			background: linear-gradient(135deg,
					rgba(255, 255, 255, 0.1),
					rgba(255, 255, 255, 0));
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			border-radius: 0.5rem;
			border: 1px solid rgba(255, 255, 255, 0.18);
			box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37);
		}
	}

	@media only screen and (max-width: 768px) {
		.hero {
			h1 {
				font-size: 4rem;
				padding: 2rem 0;
			}

			h2 {
				letter-spacing: 0.5rem;
				font-size: 1rem;
			}
		}

		h1 {
			font-size: 3.75rem;
		}

		.introduction {
			p {
				padding: 0 3rem;
				font-size: 1.15rem;
			}
		}

		.events,
		.gallery,
		.introduction {
			padding: 0 0 3rem 0;
		}

		.gallery {
			h1 {
				padding-bottom: 1rem;
			}
		}

		.dates {
			margin-top: 3rem;
		}
	}
}