@use 'sass:color';
@use './variables' as *;
@use './components/header' as *;
@use './components/footer' as *;
@use './components/homeslider' as *;
@use './components/eventcard' as *;

@use './pages/access' as *;
@use './pages/errorpage' as *;
@use './pages/events' as *;
@use './pages/home' as *;
@use './pages/schedule' as *;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
	margin: 0;
	font-family: 'Poppins';
}

.heading {
	background: hsla(111, 15%, 24%, 1);
	background: linear-gradient(
		180deg,
		hsla(111, 15%, 24%, 1) 0%,
		hsla(110, 15%, 48%, 1) 100%
	);
	h1 {
		text-align: center;
		font-family: $header-font;
		font-size: 8.5rem;
		letter-spacing: 1rem;
		color: $light;
		padding: 8rem 3rem 1rem 3rem;
	}
}
