@use 'sass:color';
@use './variables' as *;
@use './components/header' as *;
@use './components/footer' as *;
@use './components/homeslider' as *;
@use './components/eventcard' as *;

@use './pages/access' as *;
@use './pages/errorpage' as *;
@use './pages/events' as *;
@use './pages/home' as *;
@use './pages/schedule' as *;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
	margin: 0;
	font-family: 'Poppins';
}

.heading {
	// background-size:cover;
	// background-position:center;
	h1 {
		text-align: center;
		font-family: $header-font;
		font-size: 8.5rem;
		letter-spacing: 1rem;
		color: $light;
		padding: 8rem 3rem 1rem 3rem;
	}
}

.heading {
	background-image: url('public/assets/hero.png');
	background-size: cover; /* Ensures the image scales properly */
	background-position: top;
	position: relative; /* Anchor for pseudo-element */
	width: 100%;
	overflow: hidden; /* Prevent content spill */
}

.heading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65); /* Dark overlay */
	z-index: 0; /* Behind the content, but above the background */
}

/* Ensure all direct content inside .heading is above the overlay */
.heading > * {
	position: relative;
	z-index: 1;
}
